* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: black;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1, 
nav ul {
    color: white;
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

section {
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

section h2 {
    padding: 2rem 7rem 2rem 7rem;
    font-size: 5rem;
    color: black;
}

p {
   padding: 2rem 7rem 2rem 7rem;
   color: black;
   font-size: 2rem;
   text-align: justify; 
}

.about {
    background: linear-gradient(to right top, lightcoral, #e8554e);
}

.projects {
    background: linear-gradient(to right top, #667eea,  #764ba2);
}

.contacts {
    background: linear-gradient(to right top, #13547a, #80d0c7);
}

.focus {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, lightcoral, orange);
    transform: scale(2);
    transition: all 0.5s ease;
}