* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url("res/background.jpg");
    background-attachment: fixed;
}

header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: black;
    filter: none;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1, 
nav ul {
    color: white;
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

section {
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

section h2 {
    padding: 2rem 7rem 2rem 7rem;
    font-size: 5rem;
    color: white;
    filter: none;
}

p {
   padding: 2rem 7rem 2rem 7rem;
   color: white;
   font-size: 2rem;
   text-align: justify; 
}

.focus {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, lightcoral, orange);
    transform: scale(2);
    transition: all 0.5s ease;
}

.CV_Download {
    width: 15rem;
    height: 5rem;
    font-weight: bold;
    font: sans-serif;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right top, lightcoral, orange);
    border: none;
    margin-top: 3%;
}

.CV_Download:hover {
    background: darkorange;
}

.projects_table {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
    background: linear-gradient(to right top, lightcoral, orange);
    text-align: center;
}

tr, td, th {
    padding: 4px 4px 0px 4px;
    width: max-content;
    height: 5vh;
    text-align: justify;
    color: white;
    border: 4px solid white;
    letter-spacing: 1px;
}

.repo_link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.social_networks_links a {
    cursor: pointer;
    color:transparent;
    padding-top: 5rem;
}

.social_networks_links a img{
    width: 100px;
    margin: 2rem;
    border: none;
}