@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::selection {
    color: theme('colors.theme_fg');
    background-color: theme('colors.theme_secondary.400', '#ff9800');
  }
}

/* TODO(hmny): Isn't a better way to manage the theme/overide */
html {
  overflow-x: hidden;
}

/* Helper class with strange CSS property in 'Spinner.tsx' */
.circle {
  offset-distance: 0%;
  offset-path: circle(125px at center);
}

/* ? Only to debug the boxes while developing, remove before prod */
/* body * { border: 1px solid white; } */
