@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::selection {
    color: theme('colors.white');
    background-color: theme('colors.lime.400', '#ff9800');
  }
}

/* TODO(hmny): Isn't a better way to manage the theme/overide */
html { background-color: black; overflow-x: hidden; }

/* TODO(Enea): Only to debug the boxes while developing, remove before prod */
/* body * { border: 1px solid white; } */
